In [1]:
# ixプロパティの勉強

import pandas_datareader.data as pdr

start = "1949/5/6"
end = "2016/9/30"

# pandas_datareaderを使って、yahooからNIKKEI225のデータを読み込み <DataFrame>
price = pdr.DataReader("^N225", 'yahoo', start, end)
print('\n--- 1. N225 from yahoo <DataFrame> ---')
print(price.head(5))

# yahooから取得したNIKKEI225のデータから 2016.01.01以降を取得 <DataFrame>
print('\n--- 2. slice N225 data at 20160101 and get after 20160101  <DataFrame> ---')
price_from20160101 = price.ix["2016/1/1":]
print(price_from20160101.head(5))

# yahooから取得したNIKKEI225のデータから 2016.01.01以降 高値(High)のみを表示 <Series>
print('\n--- 3. price_from20160101.High <Series> ---')
print(price_from20160101.High.head(5))

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 2016年のレコードのindex1を取得する。つまりHigh <Series>
print('\n--- 4. price_from20160101.ix["2016",1] <Series> ---')
print(price_from20160101.ix["2016",1].head(5))

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 2016年のレコードの"High"の カラムを取得 <Series>
print('\n--- 5. price_from20160101.ix["2016","High"] <Series> ---')
print(price_from20160101.ix["2016","High"].head(5))

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 2016年のレコードの"High"と"Row"の カラムを取得 <DataFrame>
print('\n--- 6. price_from20160101.ix["2016",["High","Low"]] <DataFrame> ---')
print(price_from20160101.ix["2016",["High","Low"]].head(5))

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 行列番号を指定して値を取得 <Value>
print('\n--- 7. price_from20160101.ix[0,1] <Value> ---')
print(price_from20160101.ix[0,1])

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 行番号をリストで指定してシリーズを取得 <Series>
print('\n--- 8. price_from20160101.ix[[0],1] <Series> ---')
print(price_from20160101.ix[[0],1])

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 行列番号をそれぞれリストで指定してデータフレームを取得 <DataFrame>
print('\n--- 9. price_from20160101.ix[[0],[1] <DataFrame> ---')
print(price_from20160101.ix[[0],[1]])

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 行の値と列番号を指定して値を取得 <Value>
print('\n--- 10. price_from20160101.ix["2016/1/4",1] <Value> ---')
print(price_from20160101.ix["2016/1/4",1])

# yahooから取得したNIKKEI225の2016.01.01以降のデータから 行の値を指定、列番号をリスト指定してシリーズを取得 <Series>
print('\n--- 10. price_from20160101.ix["2016/1/4",[1,2]] <Series> ---')
print(price_from20160101.ix["2016/1/4",[1,2]])

--- 1. N225 from yahoo <DataFrame> ---
               Open     High      Low    Close  Volume  Adj Close
Date
1984-01-04   9927.0   9927.0   9927.0   9927.0       0     9927.0
1984-01-05   9947.0   9947.0   9947.0   9947.0       0     9947.0
1984-01-06   9961.0   9961.0   9961.0   9961.0       0     9961.0
1984-01-09   9954.0   9954.0   9954.0   9954.0       0     9954.0
1984-01-10  10016.0  10016.0  10016.0  10016.0       0    10016.0

--- 2. slice N225 data at 20160101 and get after 20160101  <DataFrame> ---
                    Open          High           Low         Close  Volume  \
Date
2016-01-04  18818.580078  18951.119141  18394.429688  18450.980469  136000
2016-01-05  18398.759766  18547.380859  18327.519531  18374.000000  128300
2016-01-06  18410.570312  18469.380859  18064.300781  18191.320312  142200
2016-01-07  18139.769531  18172.039062  17767.339844  17767.339844  163000
2016-01-08  17562.230469  17975.310547  17509.640625  17697.960938  178800

               Adj Close
Date
2016-01-04  18450.980469
2016-01-05  18374.000000
2016-01-06  18191.320312
2016-01-07  17767.339844
2016-01-08  17697.960938

--- 3. price_from20160101.High <Series> ---
Date
2016-01-04    18951.119141
2016-01-05    18547.380859
2016-01-06    18469.380859
2016-01-07    18172.039062
2016-01-08    17975.310547
Name: High, dtype: float64

--- 4. price_from20160101.ix["2016",1] <Series> ---
Date
2016-01-04    18951.119141
2016-01-05    18547.380859
2016-01-06    18469.380859
2016-01-07    18172.039062
2016-01-08    17975.310547
Name: High, dtype: float64

--- 5. price_from20160101.ix["2016","High"] <Series> ---
Date
2016-01-04    18951.119141
2016-01-05    18547.380859
2016-01-06    18469.380859
2016-01-07    18172.039062
2016-01-08    17975.310547
Name: High, dtype: float64

--- 6. price_from20160101.ix["2016",["High","Low"]] <DataFrame> ---
                    High           Low
Date
2016-01-04  18951.119141  18394.429688
2016-01-05  18547.380859  18327.519531
2016-01-06  18469.380859  18064.300781
2016-01-07  18172.039062  17767.339844
2016-01-08  17975.310547  17509.640625

--- 7. price_from20160101.ix[0,1] <Value> ---
18951.119141

--- 8. price_from20160101.ix[[0],1] <Series> ---
Date
2016-01-04    18951.119141
Name: High, dtype: float64

--- 9. price_from20160101.ix[[0],[1] <DataFrame> ---
                    High
Date
2016-01-04  18951.119141

--- 10. price_from20160101.ix["2016/1/4",1] <Value> ---
18951.119141

--- 10. price_from20160101.ix["2016/1/4",[1,2]] <Series> ---
High    18951.119141
Low     18394.429688
Name: 2016-01-04 00:00:00, dtype: float64